.navbar {
  background: #264653 !important;
   position: fixed !important;
  top: 0;
  z-index: 1020; 
}
.navbar .nav-link, .navbar-brand {
  color: #fff;
}
.navbar .nav-link:hover, .navbar-brand:hover {
  color: #2A9D8F;
  
}

